<!--
  @description       : 
  @author            : kavya.konagonda@mtxb2b.com
  @group             : 
  @last modified on  : 10-28-2020
  @last modified by  : kavya.konagonda@mtxb2b.com
  Modifications Log 
  Ver   Date         Author                       Modification
  1.0   10-26-2020   kavya.konagonda@mtxb2b.com   Initial Version
-->
<template>
    <lightning-card title="Accordin Example">
        <template if:true={contacts}>
        <lightning-accordion allow-multiple-sections-open>
            <template for:each={contacts} for:item="con" for:index="indexVar">
                <lightning-accordion-section key={con.Id} name={con.Name} label={con.Name}>
                    <p><b>Id</b> : {con.Id}</p>
                    <p><b>Name</b> : {con.Name}</p>
                    <p><b>Birthdate</b> : {con.Birthdate}</p>
                    <p><b>Email</b> : {con.Email}</p>
                </lightning-accordion-section>
            </template>
        </lightning-accordion>
        </template>
    </lightning-card>
</template>